on:
  push:
    tags:
      - 'v*' 

name: release

jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set env
        run: | 
         echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
         echo "RELEASE_NAME=${GITHUB_EVENT_REPOSITORY_NAME}-${RELEASE_VERSION}" >> $GITHUB_ENV

      - name: Create changelog
        run: |
          ./.get_latest_changes_for_release_notes.sh > ./${RELEASE_NAME}.md

      - name: Create Release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ env.RELEASE_VERSION }}
          body_path: ./${{ env.RELEASE_NAME }}.md
          draft: false
          prerelease: false